.wrapper {
    width: 50%;
    background-color: white;
    align-content: center;
    color: black;
    padding: 16px;

    .forecast {
        width: 100%;

        .subHeader {
            color: red;
            margin-top: 32px;
        }

        table {
            width: 100%;
            margin-top: 24px;

            thead{
                tr{
                    th {
                        text-align: left;
                        font-weight: 500;
                        text-decoration: underline;
                        padding: 12px;

                    }
                }
            }
            
            tbody{
                tr{
                    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);

                    td {
                        margin: 5px;
                        padding: 12px;
                    }
                }
            }
        }


    }

    @media screen and (max-width: 800px) {
        width: 100%;
    }

}