.wrapper {
    padding-top: 20px;
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: white;
    color: black;

    .fetchButton {
        background-color: red;
        height: 30px;
        width: 60px;

    }

    td {
        padding-top:10px;
        width: 60px;
        box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
    }

}